@import "tailwindcss";

:root{
  /*--- Grays/Blacks (Neutral)--- */
  --bg-main: #09090b;
  --bg-surface: #121214;
  --bg-muted: #1e1e21;
  
  --border-subtle: #27272a;
  --border-strong: #3f3f46;

  --text-bright: #fafafa;
  --text-main: #d4d4d8;
  --text-muted: #a1a1aa;

  /*--- D&D Red (Primary)---*/
  --brand-red: #e11d48;
  --brand-red-hover: #fb7185;
  --brand-red-glow: rgba(225, 29, 72, 0.15);
  
  /* --- Star Rating ---*/
  --rating-1: #ef4444; 
  --rating-2: #f97316;
  --rating-3: #22c55e;
  --rating-4: #3b82f6;
}

@theme{
  --color-background: var(--bg-main);
  --color-foreground: var(--text-main);

  --color-paper: var(--bg-surface);
  --color-paper-hover: var(--bg-muted);

  --color-brand: var(--brand-red);
  --color-brand-hover: var(--brand-red-hover);

  --color-border-subtle: var(--border-subtle);
  --color-border-strong: var(--border-strong);

  /*Rating Colors*/
  --color-star-1: var(--rating-1);
  --color-star-2: var(--rating-2);
  --color-star-3: var(--rating-3);
  --color-star-4: var(--rating-4);
  }

body{
  background-color: var(--bg-main);
  color:var(--text-main);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@utilty card{
  background-color: var(--bg-surface);
  border: 1px solid var(--border-subtle);
  border-radius: 0.5rem;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  &:hover{
    background-color: var(--bg-muted);
    border-color: var(--brand-red);

  }
}

@layer utilities {
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button{
    -webkit-apperance:none;
    margin: 0;
  }

  .no-spinner{ -moz-appearance: textfield;}
}
